body {
  background-color: white;
  font-family: Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
  margin-top: 30px;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  margin: 0;
}

.dzsami-container {
  display: flex;
  margin: 60px auto;
  max-width: 1000px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden; 
}

.dzsami-image {
  width: 400px;
  height: 320px;
  object-fit: cover;
}

.text-box {
  background-color: #f9f9f9;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box a {
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
}

.szent-istvan {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #222;
  max-width: 920px;
  margin: 40px auto;
  padding: 20px 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
