body {
  background-color: white;
  font-family: Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 20px;
  height: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.top-image {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 20px;

 
}

.profile-pic {
  width: 20%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 200px;
}

.center {
  text-align: center;
  margin-bottom: 20px;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 50px;
  text-align: center;
  margin-top: -600px;
  
}

.bottom-text {
  padding: 20px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.bottom-text a {
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
}
