body {
  background-color: white;
  font-family: Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.dzsami-image {
  display: flex;
  align-items: stretch; /* kép és szöveg magasság egyezik */
  gap: 20px;
  padding: 20px;
  margin-top: 140px; /* LEHOZZUK az egész szekciót */
  margin-bottom: 60px;
}

.dzsami-image img {
  height: 320px;
  width: auto;
  border-radius: 20px;
  object-fit: cover;
}

.text-box {
  padding: 15px 20px;
  border-radius: 15px;
  background-color: #f9f9f9;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #222;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  height: 320px; /* ugyanakkora mint a kép */
  overflow-y: auto; /* ha hosszabb a szöveg, görgethető */
}

.center {
  position: absolute;  /* pozíció rögzítése */
  top: 30px;            /* FENTRE kerül! */
  left: 0;
  right: 0;
  text-align: center;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 50px;
  margin: 0;
}

.szent-istvan {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #222;
  max-width: 920px;
  margin: 0 auto;
  padding: 20px 60px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.szent-istvan a {
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
}
